<app-header></app-header>

<section class="bg-half bg-light d-table w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h3 class="title"> Contact US </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container mt-100 mt-4 mb-4">
  <div class="row align-items-center">
    <div class="col-lg-5 col-md-6 pt-2 pt-sm-0 order-2 order-md-1">
      <div class="card shadow rounded border-0">
        <div class="card-body py-5">
          <h4 class="card-title">Get In Touch !</h4>
          <div class="custom-form mt-4">
            <div id="message"></div>
            <form  name="contact-form" id="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Your Name <span class="text-danger">*</span></label>
                    <div class="position-relative">
                      <i data-feather="user" class="fea icon-sm icons"></i>
                      <input name="name" id="name" type="text" class="form-control pl-5" placeholder="First Name :">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Your Email <span class="text-danger">*</span></label>
                    <div class="position-relative">
                      <i data-feather="mail" class="fea icon-sm icons"></i>
                      <input name="email" id="email" type="email" class="form-control pl-5" placeholder="Your email :">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Subject</label>
                    <div class="position-relative">
                      <i data-feather="book" class="fea icon-sm icons"></i>
                      <input name="subject" id="subject" type="text" class="form-control pl-5" placeholder="Subject">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Comments</label>
                    <div class="position-relative">
                      <i data-feather="message-circle" class="fea icon-sm icons"></i>
                      <textarea name="comments" id="comments" rows="4" class="form-control pl-5" placeholder="Your Message :"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 text-center">
                  <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block" value="Send Message">
                  <div id="simple-msg"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-7 col-md-6 order-1 order-md-2">
      <div class="card border-0">
        <div class="card-body p-0">
          <img src="../assets/images/contact.svg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>
