<div class="sticky-bar component-wrapper bg-light rounded shadow p-2 mb-3 mt-3">
  <ul class="list-unstyled mb-1 ">
    <h4 class="text-white-50 text-capitalize">Navigation</h4>
    <li routerLinkActive="active" class="nav-item active"><a routerLink="/dashboard" class="nav-link h6 text-white-50"><i class="mdi mdi-view-dashboard mr-2"></i>Dashboard</a></li>
    <li routerLinkActive="active" class="nav-item"><a routerLink="/message"  class="nav-link h6 text-white-50"> <i class="mdi mdi-message mr-2"></i>Messages</a></li>
    <li routerLinkActive="active" class="nav-item"><a routerLink="/devices"  class="nav-link h6 text-white-50"> <i class="mdi mdi-devices mr-2"></i>Devices</a></li>
    <li routerLinkActive="active" class="nav-item"><a routerLink="/users"  class="nav-link h6 text-white-50"> <i class="mdi mdi-account-multiple mr-2"></i>Utilisateurs</a></li>
    <li routerLinkActive="active" class="nav-item"><a routerLink="/setting"  class="nav-link h6 text-white-50"> <i class="mdi mdi-cog mr-2"></i>Settings</a></li>

  </ul>
</div>
