<app-header></app-header>
<section class="bg-half bg-light d-table w-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-12">
        <div class="title-heading">
          <span class="badge badge-pill badge-soft-primary">Development</span>
          <h1 class="font-weight-bold mt-2 mb-3">Turn your Android phone <br> Into a SMS Gateway</h1>
          <p class="para-desc text-muted">Send and receive messages programmatically through your phone using
            API service</p>
          <div class="mt-4 pt-2">
            <a routerLink="/signup" class="btn btn-primary mr-2">register for free</a>
            <a routerLink="/document" class="btn btn-outline-primary">Documentation</a>
          </div>
          <p class="text-muted mb-0 mt-3">Current Version: v2.0.0</p>
        </div>
      </div>

      <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <img src="../assets/images/digital/about.png" class="img-fluid d-block mx-auto" alt="">
      </div>
    </div>
  </div>
</section>
