<app-header></app-header>
<section class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12 d-none d-md-block">
        <app-admin-menu></app-admin-menu>
      </div>

      <div class="col-lg-9 col-md-8 col-12 ">

        <div class="row mb-2">
          <div class="col-md-6 col-lg-4">
            <div class="card card-block card-stretch card-height">
              <div class="card-body bg-soft-primary rounded">
                <div class="d-flex align-items-center justify-content-between">
                  <i class="mdi mdi-message mdi-48px text-dark"></i>

                  <div class="text-right">
                    <h2 class="mb-0 text-dark"><span class="counter">3500</span></h2>
                    <h5 class="text-dark">Messages</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card card-block card-stretch card-height">
              <div class="card-body bg-soft-dark rounded">
                <div class="d-flex align-items-center justify-content-between">
                  <i class="mdi mdi-devices mdi-48px text-dark"></i>
                  <div class="text-right">
                    <h2 class="mb-0 text-dark"><span class="counter">35</span></h2>
                    <h5 class="text-dark">Devices</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card card-block card-stretch card-height">
              <div class="card-body bg-soft-warning rounded">
                <div class="d-flex align-items-center justify-content-between">
                  <i class="mdi mdi-account-box-multiple mdi-48px text-dark"></i>
                  <div class="text-right">
                    <h2 class="mb-0 text-dark"><span class="counter">5</span></h2>
                    <h5 class="text-dark">Users</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>
